.mapped {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 102px; */
  /* border-top: .5px solid black; */
  /* border-bottom: .5px solid black; */
}

.truck-list-holder {
    width: 100%;
    height: calc(100% - 4em);
    overflow: scroll;
    align-items: center;
    border-radius: 6px;
    /* box-shadow: 0px 15px 10px 15px rgba(30, 30, 30, 0.6); */
    /* margin-top: 40.5%; */
}

.mapped-head {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: cursive;
    padding-top: 8px;
    padding-bottom: 6px;
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgba(250, 250, 255, 0.9);
    /* color: ghostwhite; */
    color: black;
    letter-spacing: 5px;
    /* border: .5px .5px solid black; */
    border-bottom: .5px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border-radius: 12px; */
    /* position: fixed; */
    width: 100%;
    /* box-shadow: 0 3px 3px -1px rgba(30, 30, 30, 0.6); */
    box-shadow: 0px -3px 6px 0px rgba(30, 30, 30, 0.6);
    margin-top: 2%;
}

.food-search {
    width: 95%;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.landing-container {
    /* height: calc(100% - 4em); */
    /* margin-top: 40.5%; */
    /* height: calc(50% - 4em - 35%); */
    /* height: 50%; */
    /* height: 100vh; */
    height: calc(100% - 4em);
}

.map-container {
    height: 40%;
    /* position: fixed; */
}

.home {
    height: calc(100% - 4em);
}