.Auth {
    background: rgba(250, 250, 250, .5);
    background-image: url('https://images.unsplash.com/photo-1531361171768-37170e369163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: calc(100% - 4em);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -6px 4px -6px rgba(0, 0, 0, 1);
}

.auth-container {
    width: 75%;
    height: 55%;
    border-radius: 8px;
    -webkit-box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
    box-shadow: 0 14px 28px 0 rgba(0,0,0,.35), 0 10px 10px 0 rgba(0,0,0,.36);
    background: rgba(245, 245, 245, 1);
    background-image: radial-gradient(97deg, white);
    display: flex;
    flex-direction: column;
    /* -ms-flex-pack: distribute; */
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.login-pic {
    max-width: 280px;
    box-shadow: 0 4px 5px -1px rgba(30, 30, 30, 0.6);
    margin-bottom: 25px;
    margin-top: 15px;
}

/* .auth-input-box {
    
} */

.dark-button {
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% -46%,rgba(76, 224, 70, 0.4),#3d9935);
    /* -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); */
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(21, 194, 44, 0.2);
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    margin: 10px;
  }

.auth-input-box > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    color: #F29A3E;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    letter-spacing: 1.5px;
}

.auth-input-box > input {
    border: 1px solid rgba(76, 224, 70, 0.5);
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 1.5px 5px -1px rgba(30, 30, 30, 0.6);
    margin-bottom: 15px;
}

.admin-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1.5px 3px -1px rgba(30, 30, 30, 0.6);
    color: #F29A3E;
    font-weight: 700;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.admin-option > label {
    margin-left: 5px;
    margin-right: 5px;
}

.option-container > p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 1px;
}